{% extends "base.html" %}

{% block title %}NBA MATCHUP ANALYZER{% endblock %}

{% block content %}
    <h1> NBA MATCHUP ANALYZER</h1>
    <p class="subtitle">
        Pick two NBA teams and get a matchup winner prediction based on recent game performance
    </p>

    
    <form action="/analyze" method="POST" class="card">

        <!-- First team option-->
        <label for="team_a"> Team A</label>
        <select name="team_a" id="team_a" required>
            <option value=""> Select Team A</option>
            {% for team in teams %}
            <option value="{{ team }}"> {{ team }}</option>
            {% endfor %}
        </select>

        <!-- Second team option-->
        <label for="team_b"> Team B</label>
        <select name="team_b" id="team_b" required>
            <option value=""> Select Team B</option>
            {% for team in teams %}
            <option value="{{ team }}"> {{ team }}</option>
            {% endfor %}
        </select>

        <label for="home_team">Home Team</label>
        <select name="home_team" id="home_team">
            <option value="">No selection</option>
            {% for team in teams %}
            <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select>

        <button type="submit"> Analyze matchup</button>


    </form>

    {% endblock %}
    